.student-content {
  display: flex;
  width: 90%;
  margin-left: 5%;
  overflow-x: auto;
}

.contribution-container .card {
  flex: 0 0 30%;
  margin-bottom: 2em;
}

#contribution-info {
  width: 40vh;
  margin-top: 5vh;
  margin-left: 5vh;
}

.student-contribution-image {
  object-fit: cover;
  width: 30vh;
  height: 20vh;
}

.versatile-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.only-actions {
  display: flex;
  justify-content: center;
}

#img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

#contribution-paging {
  justify-content: center !important;
  margin-top: 5vh;
}

button.btn.btn-dowbload {
  background-color: #3eab4c;
  color: white;
  font-weight: bold;
}