.Coordinatorcontribution-table {
  margin-top: 3vh;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  border: 2px solid #f1bdb8;
}

button.btn.btn-Status {
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  width: 15vh;
  height: 5vh;
}

/* màu Status */
.status-pending {
  background-color: orange;
}

.status-approved {
  background-color: green;
}

.status-rejected {
  background-color: red;
}

.status-modified {
  background-color: rgba(66, 173, 8, 0.714);
}

/* màu State */

button.btn.btn-State {
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  width: 15vh;
  height: 5vh;
}

.status-public {
  background-color: #10d220;
}

.status-private {
  background-color: red;
}

/* View Detail Contribution Css */
span.info-label {
  font-weight: bold;
}

.feedback-content {
  position: relative;
  overflow-y: auto;
  word-wrap: break-word;
}

.btn-edit,
.btn-delete {
  display: inline-block; /* Đặt các nút là inline-block để chúng được căn chỉnh ngang hàng */
  width: 9vh;
  height: 4.5vh;
  border-radius: 2vh;
  font-weight: 700;
}

.btn-edit {
  background-color: black;
  color: white;
  margin-right: 1vh; /* Cách nút "Edit" và "Delete" nhau 1vh */
}

.btn-delete {
  background-color: rgb(255, 0, 0);
  color: white;
}

button.btn-save,
button.btn-cancel {
  display: inline-block;
  width: 9vh;
  height: 4.5vh;
  border-radius: 2vh;
  font-weight: 700;
}

button.btn-save {
  background-color: black;
  color: white;
  margin-right: 1vh; /* Cách nút "Save" và "Cancel" nhau 1vh */
}

button.btn-cancel {
  background-color: rgb(0, 4, 250);
  width: 10vh;
  height: 4.5vh;
  color: white;
}

.comment-actions {
  margin-top: 2vh;
}

#delete-comment-btn {
  width: fit-content;
}

#cancel-edit-btn {
  width: fit-content;
}
