.web-brand {
  display: flex;
  align-items: center;
  margin-left: 0vh;
}

.logo {
  width: 50px;
  /* Độ rộng của logo */
  height: auto;
  /* Chiều cao tự động để giữ tỷ lệ khung hình */
  margin-right: 10px;
  /* Khoảng cách giữa logo và chữ "Greenwich" */
}

#navbar-container {
  flex-wrap: nowrap;
  /* Không cho phép các phần tử tràn xuống hàng mới */
}

.left-bar {
  width: fit-content;
  flex-basis: 90%;
  align-items: center;
  display: flex;
}

.logo {
  margin-right: 7%;
  width: 10vh;
}

.right-bar {
  right: -4vh;
  top: -1vh;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.right-bar .navbar-item {
  margin-left: 2rem;
  /* Khoảng cách giữa các navbar item */
}

#login-option {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

#login-option .fa-icon {
  margin-right: 0.5rem;
  /* Khoảng cách giữa icon và chữ */
}

svg.svg-inline--fa.fa-users.fa-icon {
  margin-right: 0.5rem;
  /* Khoảng cách giữa icon và chữ */
}

#login-option:hover,
#register-option:hover {
  transform: translateY(-5px);
  /* Di chuyển phần tử lên trên khi hover */
}

#login-option:hover .fa-icon,
#register-option:hover .fa-icon {
  color: #ffffff;
  /* Đổi màu icon khi hover */
}

#authenticated-options {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  margin-right: -1vh;
  border: 0.1vh solid;
}

a.navbar-brand {
  font-family: monospace;
  font-size: 4vh;
  font-weight: bold;
  color: #2d1d5b;
}

#navbar-container {
  flex-wrap: unset;
}

#navbar-option {
  width: fit-content !important;
  display: contents !important;
}

nav.navbar-dark.navbar.navbar-expand-lg.bg-primary {
  background-color: #ffffff !important;
}

span.username {
  /* margin-right: -2vh;
  margin-left: -2vh; */
  color: #ffffff;
  /* xử lý khi chữ dài quá sẽ hiện ... (118-122) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

li#authenticated-options {
  margin-left: 20px;
}

li.nav-item {
  margin-left: -1vh;
  margin-right: 2vh;
}

.right-bar1 {
  background-color: lightslategrey;
  border-radius: 1vh;
}

li#authenticated-options {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

button#logout-option {
  background-color: black;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 16vh;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 3vh;
  box-shadow: 0.2vh 0.5vh 1vh 0.2vh rgb(185 18 18 / 37%);
  /* Áp dụng bóng dưới nút */
  font-family: inherit;
  font-size: 1.9vh;
  text-transform: none !important;

  /* Hover */
  &:hover {
    background-color: darkgray;
    /* Màu nền khi hover */
    cursor: pointer;
    /* Đổi con trỏ chuột thành dấu nhấp chuột */
    transform: translateY(-4px);
  }
}

a.navbar-brand {
  font-size: 5vh;
  margin-top: -3.5vh;
}

a.nav-link {
  color: #2d1d5b;
}