body {
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

.card {
  box-shadow: 0 1vh 3vh 0 rgba(0, 0, 0, 0.1), 0 1vh 2vh 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

#profile-body {
  margin-top: 3vh;
}

#profile-avatar {
  width: 20vh;
  height: 20vh;
  border: 0.1vh solid;
}

#edit-profile-btn {
  margin-top: 1vh;
  font-size: 2vh;
}

#edit-icon {
  margin-right: 1vh;
  font-size: 2.5vh;
  margin-bottom: 0.5vh;
}
