.col {
  margin-right: 22vh;
  margin-top: 6vh;
}

.img-fluid {
  width: 67vh;
  height: 65vh;
}

#register-container {
  margin-top: 5vh;
  height: 100%;
  background-image: url("~/public/image3.jpg") !important;
  background-size: cover;
  background-position: center;
}

/* #register-background {
  height: 80vh !important;
} */

#register-form {
  /* background-color: antiquewhite; */
  box-shadow: 0 0 5vh rgb(83 3 3);
  background-color: rgba(255, 255, 255, -0.5);
  /* Màu trắng trong suốt */
}

#sign-up-form {
  height: 65vh;
  background-color: rgb(255 255 255 / 54%);
  overflow-y: auto;
  overflow-x: hidden;
}

#register-header {
  font-size: 4vh;
}

button.ripple.ripple-surface.btn.btn-light.btn-lg.ms-1 {
  border-radius: 2vh;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease;
  /* Tạo hiệu ứng chuyển đổi mượt mà */

  /* Hover */
  &:hover {
    background-color: rgb(238, 204, 204);
    /* Màu nền khi hover */
    cursor: pointer;
    /* Đổi con trỏ chuột thành dấu nhấp chuột */
  }
}

button.ripple.ripple-surface.btn.btn-warning.btn-lg.ms-2 {
  border-radius: 2vh;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /* Tạo hiệu ứng chuyển đổi mượt mà */

  /* Hover */
  &:hover {
    background-color: rgb(197 89 89);
    /* Màu nền khi hover */
    cursor: pointer;
    /* Đổi con trỏ chuột thành dấu nhấp chuột */
  }
}

.card.my-42 {
  width: 133vh;
  display: flex;
  flex-direction: column;
  border: 2px solid #f1bdb8;
  border-radius: 1vh;
  margin-top: 5vh;
  margin-left: 30vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
